<% if(href.startsWith("#")) { -%>
    <a href="<%= href %>" class="link innerLink"><% children.forEach((child) => { -%><%- child -%><% }) -%></a>
<% } else { -%>
    <a href="<%= href %>" class="link outwardLink" target="_blank" rel="noopener noreferrer"><% children.forEach((child) => { -%><%- child -%><% }) -%></a>
<% } -%>
